- flash.each do |message_type, message|
  .toast.toast-top.toast-end.z-10.transition{ data: { controller: 'notification', transition: { leave_from: 'opacity-100', leave_to: 'opacity-0' } }}
    .alert.border.border-gray-700.shadow-xl{ role: 'alert', class: message_type == 'notice' ? 'alert-success' : 'alert-error' }
      %span= message
