.flex.flex-col.gap-6
  .h-full
    #{book.ownerships.count}人が持っています
    .flex
      - book.owners.each do |owner|
        .tooltip.tooltip-right{ data: { tip: owner.name } }
          = image_tag owner.image, alt: owner.name, class: 'w-8 h-8 rounded-full'
  .h-full
    #{book.interests.count}人が気になっています
    .flex
      - book.interesting_users.each do |interesting_user|
        .tooltip.tooltip-right{ data: { tip: interesting_user.name } }
          = image_tag interesting_user.image, alt: interesting_user.name, class: 'w-8 h-8 rounded-full'
